.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  min-height: 96px;

  @media (max-width: 1200px) {
    padding: 0 1rem;
  }

  @media (max-width: 900px) {
    .social-media-links {
      display: none;
    }
  }
}
