.academics {
  section {
    padding: 75px 0;
    h6 {
      margin-bottom: 12px;
    }

    h2 {
      margin-bottom: 36px;
    }

    &.knowledge-areas {
      display: flex;
      flex-direction: column;
      gap: 64px;
      text-align: center;

      img {
        max-width: 100%;
      }

      .texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &.college-opportunities {
      text-align: center;

      .three-column {
        max-width: 450px;
        margin: auto;
        padding-top: 2.5rem;
        img {
          display: block;
          margin: auto;
          max-width: 75px;
          max-height: 250px;
        }
      }
    }
  }
}
