.highlight-section {
  padding: 95px 20px;
  background-color: #4747d7;
  margin: 0 -20px;

  p,
  h1,
  h2,
  h3,
  h4,
  h6,
  span,
  path {
    color: #fff;
  }

  @media (max-width: 900px) {
    padding: 12vw 20px;
  }
}
