.btn-open-nav,
.btn-close-nav {
  display: none;
  background-color: #4747d7;
  padding: 0.5rem;
  border-radius: 0.25rem;

  * {
    color: #fff;
  }
}

@media (max-width: 900px) {
  .btn-open-nav,
  .btn-close-nav {
    display: block;
  }
}

.nav {
  .nav-links {
    display: flex;

    li {
      &.social-links {
        display: none;
      }
      a {
        display: flex;
        align-items: center;
        font-weight: bold;
        height: 96px;
        padding: 0 1rem;
        transition: color 0.25s;

        &:hover {
          color: #4747d7;
        }
      }
    }
  }

  @media (max-width: 900px) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #66666455;
    backdrop-filter: blur(5px);
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-200%);

    &.active {
      z-index: 99;
      opacity: 1;
      transform: translateX(0);
    }

    .nav-links {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 80%;
      flex-direction: column;
      background-color: #fff;
      padding-top: 4rem;

      > li {
        &.social-links {
          display: block;
        }

        > a {
          padding: 2rem;
          border-bottom: 1px solid #76767f55;
          height: auto;
        }

        &:nth-child(1) {
          border-top: 1px solid #76767f55;
        }
      }

      .btn-close-nav {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }
    }
  }

  .social-media-links {
    display: none;
  }

  @media (max-width: 768px) {
    .nav-links {
      width: 100%;
    }
  }
}
